# Section 1; Part 10

This section is the intial set up of Jupyter

In [1]:
1 + 1

2

# Section 1; Part 13
This section is an introduction to the Jupyter Notebook interface

In [4]:
x = 5
x+3

8

In [5]:
3+3

6

In [7]:
a = 1+1
b = 2+2
3+3

6

In [8]:
a

2

# Section 1; Part 14
This section tested shortcuts

Requires you to be into command mode (Press `esc` and get a blue outlight)

- `h` - Opens dialog
- `b` - Create cell below
- `a` - Create cell above
- `x` - Cut cell
- `v` - Paste cell

# Section 1; Part 15
This section covers importing libraries (with aliases) and cell magic to import matplotlib inline

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
pd.__version__

u'0.19.1'

# Section 1; Part 16
Crash course in Python - Datatypes and variables

In [6]:
# Comments are behind "#" and aren't executed
# 1+1

In [9]:
# Integers (whole numbers)
123
-987

# Floats
123.0
-987.654

# Strings (in quotes)
"123"
"-987"

# Boolean - True/False
True
False

# Determine type of data:
print type(123)
print type("123")
print type(123.456)
print type(True)

<type 'int'>
<type 'str'>
<type 'float'>
<type 'bool'>

In [16]:
# Variables
age = (25 + 75) * 3 / 10
age

30

In [13]:
name = "Boris"
name

'Boris'

In [17]:
# Does not change "age"
age + 5

# Does change age
age = age + 5 
age

35

# Section 1; Part 17
Lists (often called array in other languages)

In [26]:
# Lists do not have to have the same data type for each element
# Lists are 0 indexed
[1,5,10,20, "Blah"]

[1, 5, 10, 20, 'Blah']

In [25]:
lucky_numbers = [1,5,10,20]
names = ['Michael', 'Fred', 'Jason']
activated = [True, True, False, False, True]

In [23]:
type(lucky_numbers)

list

In [24]:
len(lucky_numbers)

4

In [28]:
# Accessing indivual element by index
lucky_numbers[2]

10

In [29]:
names[2]

'Jason'

In [30]:
# Invalid index presents an exception
names[100]

IndexError: list index out of range

# Section 1; Part 18
Dictionaries (called map/hash/hashmap in other languages)
Each key can only appear once but the values can appear multiple times

In [31]:
menu = {
    'Filet Mignon': 29.99,
    'Big Mac': 3.99,
    'Pizza Slice': 0.99,
    'Salmon': 29.99
}

In [32]:
# Values can be references by keys
menu['Big Mac']

3.99

In [33]:
# Invalid Keys throw an exception
menu['Tuna']

KeyError: 'Tuna'

# Section 1; Part 19
Operators (symbols used to perform operations)

In [34]:
# Addition
1+1

2

In [35]:
# Subtraction
10-5

5

In [36]:
# Multiplication
5*3

15

In [39]:
# Division
10/5

2

In [41]:
# Comparison (Returns True/False)
# Equality
1==1

True

In [42]:
# Not Equal
5 != 10

True

In [43]:
# Less than
8 < 10

True

In [44]:
# Greater than
10>4

True

In [45]:
# Less than / equal
10<=10

True

In [46]:
# Greater than / equal
5>=4

True

# Section 1; Part 20
Functions - Reusable code

In [47]:
# Convert C to F temperatures
def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 1.8
    final = product + 32
    return final

In [49]:
convert_to_fahrenheit(35)

95.0